.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
/.metadata
attendancePage/.classpath
attendancePage/.classpath
attendancePage/attendancePage/.classpath
attendancePage/attendancePage/.project
/attendancePage/bin
/attendancePage/bin
